.navContainer{
    background-color: #F7F7F7;;
}
.navWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logoImg{
    width: 96px;
    height: 40px;
    padding: 2px
}
.nItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.lButton{
    
background: #251D58;
border-radius: 5px;
width: 126px;
height: 44px;
    color: #FFFFFF;
}